@import "../../commonStyles/color.module.scss";

.signout_btn {
  padding: 40px;
  border-radius: 50%;
}
.main_wrapper {
  padding: 9px 11px;
  background: $white-color;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: -30px;
  left: 45%;
  svg {
    font-size: 2.5rem;
  }
}
