.main_wrapper {
  background: rgb(205, 122, 203);
  background: linear-gradient(
    90deg,
    rgba(205, 122, 203, 1) 0%,
    rgba(188, 98, 205, 1) 42%,
    rgba(0, 190, 255, 1) 80%
  );
  height: 100vh;
}
